<!DOCTYPE html>
<html>
<body style="background-color:#123863;">

<style>
h1 {text-align: center; font-family:arial; color: white}
p {text-align: center; font-family:arial; color: white}
div {text-align: center;}
</style>


<h1 title="prediction" dir="rtl" style="font-size:60px">ימני או שמאלני?</h2>

<p title="important words" dir="rtl" style="font-size:30px">חפשו צייצנים וגלו את הצד הפוליטי שלהם לפי הציוצים שלהם</p>

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr><td align="center">
<img src="/static/right-left.png" alt="right or left?" width="400" height="400">
</td></tr>
</table>


</body>
</html>
